# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.venv/
.ENV/
ENV/

# Environment variables
.env
*.env

# VS Code
.vscode/

# macOS
.DS_Store

# Pytest
.pytest_cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs and temp files
*.log
*.tmp

# Flask/Python specific
instance/
*.db